deepface==0.0.79
httpx==0.24.1
matplotlib==3.7.1
mplcursors==0.5.2
numpy==1.23.5
openai==0.27.2
opencv_python==4.7.0.72
pandas==2.0.1
Pillow==9.5.0
Pillow==9.5.0
pytest==7.2.2
Requests==2.31.0
Shapely==2.0.1
yfinance==0.2.18
requests==2.31.0
